<footer class="site-footer">

  <div class="footer-container">

    <div class="footer-brand">

      <div class="footer-logo">
        TIG<span>AUTO</span>
      </div>

      <p>
        Quality cars. Trusted dealers.
        A better way to find your next car.
      </p>

    </div>


    <div class="footer-links">

      <a routerLink="/">
        Home
      </a>

      <a routerLink="/cars">
        Cars
      </a>

      <a href="#why-tigauto">
        Why TIGAUTO
      </a>

    </div>

  </div>


  <div class="footer-bottom">

    © 2026 TIGAUTO.
    All rights reserved.

  </div>

</footer>