<header class="site-header">

  <div class="header-container">

    <a class="logo" routerLink="/">
      <span class="logo-arrows">
        »
      </span>

      <span class="logo-text">
        TIG<span>AUTO</span>
      </span>
    </a>

    <nav class="desktop-nav">

      <a routerLink="/cars">
        Buy a Car
      </a>

      <a href="#featured">
        Featured Cars
      </a>

      <a href="#why-tigauto">
        Why TIGAUTO
      </a>

    </nav>

    <div class="header-actions">

     <button
        type="button"
        class="admin-login-button"
        routerLink="/admin/login"
        aria-label="Admin login"
        title="Admin login"
      >
        <span class="admin-person-icon">

          <span class="person-head"></span>

          <span class="person-body"></span>

        </span>
      </button>

      <button
        type="button"
        class="menu-button"
        aria-label="Open menu"
      >
        ☰
      </button>

    </div>

  </div>

</header>